.editableWrapper {
    display: grid;
    grid-auto-columns: auto;
    gap: 24px;
    height: fit-content;
}

.saveButton {
    margin-left: auto;
}

.saveButton.reject {
    margin-left: 10px;
}

.controlButtons {
    display: flex;
}