.wrapper {
    height: calc(100vh - 88px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.otherLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSecondary {
    padding: 0;
    margin-left: 8px;
}