.wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: flex-start;
    row-gap: 32px;
    column-gap: 24px;
}