.pageBlock {
    height: calc(100vh - 88px);
    width: 100%;
    max-width: 640px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.wrapper {
    position: relative;
}

.modalBlock {
    padding: 40px 40px 60px 40px;
    border-radius: 40px;
    max-width: 640px;
    width: 100%;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.20);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 2;
}

.closeBlock {
    position: absolute;
    top: 40px;
    right: 40px;
}