.ingredientsWrapper {
    overflow-y: scroll;
    max-height: calc(100vh - 490px);
    scrollbar-width: thin;
    display: grid;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ingredientsWrapper::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #2f2f37;
}

.ingredientsWrapper::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.nullIngredients {
    display: flex;
    min-height: calc(100vh - 500px);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.17)
}

.selectedIngredient {
    border: 1px solid rgba(255, 255, 255, 0.5)
}